html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* background: url('../img/background.jpg'); */
    /* background-size: cover; */
    background-color: #201e1e;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header h2 {
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #b2d166;
}

.list-container {
    /* width: 100%; */
    margin: 0 100px;
}

.list-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    /* justify-content: center; */
}

.list-container li {
    width: 16.66%;
    cursor: pointer;
    transition: all .3s;
}

.list-container .card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    border-radius: 3px;
    border: 1px solid #333;
    overflow: hidden;
}


.list-container .card-item:hover img {
    filter: none;
    transform: scale(1.2)
}

.list-container .card-item img {
    /* opacity: .2; */
    /* -webkit-filter: blur(1px);
　　-moz-filter: blur(1px);
　　-ms-filter: blur(1px);
    filter: blur(1px);*/
    transition: all .3s; 
}


.p-link img {
    opacity: .8;
    /* -webkit-filter: blur(1px);
　　-moz-filter: blur(1px);
　　-ms-filter: blur(1px); 
    filter: blur(1px);*/
    transition: all .3s;
    width: 100%;
    max-height: 170px;
}

.p-link>a {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    /* height: 80px; */
    /* border-top: 1px dotted #ddd; */
    /* padding: 0 10px; */
}

.p-link a {
    color: #8fac4a;
    text-decoration: unset;
    width: 100%;
}

.p-link a:last-child {
    text-align: right;
}

.p-link a:first-child {
    text-align: left;
}

.p-link .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: #333;
    padding: 0 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.hover-shadow-box-animation {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
    /* box-shadow: 1px 10px 10px -10px rgba(255, 255, 255, 1); */
    box-shadow: 1px 10px 10px -10px rgba(143, 172, 74, 0.9);
    transform: scale(1.02);
}

canvas {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    display: block;
    touch-action: none;
}

@media screen and (max-width : 920px) {
    .list-container li{
        width: 100%;
    }
}